body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.centered-title {
    text-align: center;
    color: black;
    font-size: 26px;
    margin-top: 0;
    margin-bottom: 20px;
}

.regular-title {
    text-align: center;
    color: black;
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 20px;
}

h1 {
    color: #333;
    border-bottom: 1px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
}


strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

abbr {
    text-decoration: none;
    border-bottom: 1px dotted #333;
}

code {
    font-family: "Courier New", monospace;
    background-color: #f2f2f2;
    padding: 2px 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

pre {
    background-color: #f2f2f2;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    white-space: pre-wrap;
}

strong, em, abbr, code, pre {
    display: inline-block;
    margin-bottom: 10px;
}

p {
    margin-bottom: 20px;
}
