.fruit-list{
    background-color: lightpink;
    padding: 10px;
}

.fruit-list  li {
    background-color: rgb(224, 118, 134);
    padding: 0.5%;
    margin: 1%;
    color: aliceblue;
    font-family: sans-serif;
    list-style:decimal;
}

.fruit-list li label
{
    background-color: rgb(195, 75, 93);
    position: relative;
    padding: 0.52% 2.5%;
    margin: 1%;
} 
